extends default
  
block content
  link(rel='stylesheet', href='/css/style.css')  
  block navbar
    ul.menu
      li.menu
        a.menu(href=`/articlez?cmd=fltr&id=tod`) What's new
      li.menu
        a.menu(href=`/articlez?page=${prevpage}`) <--
      li.menu
        a.menu(href=`/articlez?page=${pagenum}`)  Page #{pagenum}
      li.menu
        a.menu(href=`/articlez?page=${nextpage}`)  -->
      li.menu
        a.menu(href=`/articlez?cmd=fltr&id=`) Reset Filter
  div.container
  table
    meta(content='text/html', charset='utf-8')
    thead
        tr
          th 
            a(href=`/articlez?cmd=sort&id=source`) Source
          th 
          th
            a(href=`/articlez?cmd=sort&id=score`) Score
          th 
            a(href=`/articlez?cmd=sort&id=date`) Date 
          th title
          th description
        - var i=0;
        tbody
          each item, i in articlelist
            tr(class=(i % 2 == 0) ? 'odd' : 'even')
              td=item.source
              td(width='4%')
                a(href=`/articlez?cmd=hd&id=${item._id}`) 
                  i.fa.fa-trash          
                a(href=`/articlez?cmd=lk&id=${item._id}`) 
                  if (item.like == 1)
                    i.fa.fa-heart
                  else
                    i.fa.fa-heart-o
              td=item.score
              td=item.pubDate
              td(width='20%')
                a(href=item.link target="_blank") #{item.title}
              td #{item.description}
