extends default
  
block content
  link(rel='stylesheet', href='/css/style.css')  
  block navbar
    ul.menu
      li.menu
        a.menu(href=`/articlez?cmd=fltr&id=tod`) What's new
      li.menu
        a.menu(href=`/articlez?page=${prevpage}`) <--
      li.menu
        a.menu(href=`/articlez?page=${pagenum}`)  Page #{pagenum}
      li.menu
        a.menu(href=`/articlez?page=${nextpage}`)  -->
      li.menu
        a.menu(href=`/articlez?cmd=fltr&id=`) Reset Filter
  div.container
  table
    meta(content='text/html', charset='utf-8')
    thead
        tr
          th 
            a(href=`/articlez?cmd=sort&id=source`) Source
          th 
          th tags
          th
            a(href=`/articlez?cmd=sort&id=score`) Score
          th 
            a(href=`/articlez?cmd=sort&id=date`) Date 
          th title
          th description
        - var i=0;
        tbody
          each item, i in articlelist
            //- this is to color odd rows different from even rows
            tr(class=(i % 2 == 0) ? 'odd' : 'even')
              //- the first colum shows the source of the article
              td=item.source
              //- the second columns shos links to likes (if authenticated)
              td(width='4%')
                a(href=`/articlez?cmd=hd&id=${item._id}`) 
                  i.fa.fa-trash 
                if (authenticated)
                    a(href=`/articlez?cmd=lk&id=${item._id}`) 
                        if (item.like >= 1)
                            i.fa.fa-heart #{item.like}
                        else
                            i.fa.fa-heart-o
                else if (item.like >= 1)
                    i.fa.fa-heart #{item.like}
                else
                    i.fa.fa-heart-o
              //-
              //-    T  A  G  S
              //-
              //- now show that tags (but check first if there are any
              if item.tags.length > 0
                td
                  a(href=`/articlez?cmd=ftag&id=${item.tags[0].tagName}`) #{item.tags[0].tagName}
              else
                td= none
              //-    
              td=item.score
              td=item.pubDate
              td(width='20%')
                a(href=item.link target="_blank") #{item.title}
              td !{item.description}
