extends default

block content
  div.container
  
table
    meta(content='text/html', charset='utf-8')
    thead
        tr
          th Source
          th 
          th Score
          th Date 
          th title
          th description
        - 
        tbody
            tr(class=(i % 2 == 0) ? 'odd' : 'even')
              td=Source
              td=item.source
            tr
              td=Score
              td=item.score
            tr
              td=Publication Date
              td=item.pubDate
            tr
              td Title
              td(width='20%')
                a(href=item.link target="_blank") #{item.title}
            tr
              td Description
              td #{item.description}

