extends default

block content
  div.container

  table
    thead
        tr
          th Show
          th Score
          th Date 
          th link
          th description
        - var i=0;
        tbody
          each item, i in articlelist
            tr(class=(i % 2 == 0) ? 'odd' : 'even')
              td
                a(href=`/articlez?cmd=hd&id=${item._id}`) #{item.show}
              td=item.score
              td=item.pubDate
              td
                a(href=item.link) link 
              td #{item.description}
