doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/style.css')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    main
      meta(charset='utf-8')
      block header
        header.header
          h1 #{title}
      a(href="/") 
        button(type=button) home
      a(href="/articlez") 
        button(type=button) articles
      a(href="/maint") 
        button(type=button) maintenance

      block content
