extends default


block content
  
  div.container
  
  // a(href=`/sources?page=${prevpage}`)  "<--"
     p: page: #{pagenum}
     a(href=`/sources?page=${nextpage}`)  "-->"
  // 
  table
    meta(content='text/html', charset='utf-8')
    thead
        tr
          th Source
        - var i=0;
        tbody
          each source, i in sourcelist
            tr(class=(i % 2 == 0) ? 'odd' : 'even')
              td
                a(href=`/articlez?cmd=fltr&id=${source}`) #{source}
              
